@model object

@{
    ViewBag.Title = "title";
    Layout = "_LayUI";
}
@section Css{ 
    <link rel="stylesheet" href="/lib/layuiadmin/style/admin.css" media="all">
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文章ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-inline">
                        <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">文章标签</label>
                    <div class="layui-input-inline">
                        <select name="label">
                            <option value="">请选择标签</option>
                            <option value="0">美食</option>
                            <option value="1">新闻</option>
                            <option value="2">八卦</option>
                            <option value="3">体育</option>
                            <option value="4">音乐</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
            </div>
            <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
            <script type="text/html" id="buttonTpl">
                {{#  if(d.Status == "1"){ }}
                <button class="layui-btn layui-btn-xs">已发布</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">待修改</button>
                {{#  } }}
            </script>
            <script type="text/html" id="table-content-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        layui.config({
            base: '/lib/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'contlist', 'table'], function () {
            var table = layui.table
                , form = layui.form;

            //监听搜索
            form.on('submit(LAY-app-contlist-search)', function (data) {
                var field = data.field;

            
                ////执行重载
                //table.reload('LAY-app-content-list', {
                //    where: field
                //});
            });

            table.render({
                elem: '#LAY-app-content-list'
                , url: '/api/admin/ajax/getarticle'
                , title: '用户数据表'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'Title', title: '标题', width: 120 }
                    , { field: 'Author', title: '作者', width: 100 }
                    , { field: 'AddTime', title: '发布时间', width: 150 }
                    , { field: 'Status', title: '状态', toolbar: '#buttonTpl', width: 100 }
                    , { field: 'Content', title: '内容' }
                    , { fixed: 'right', title: '操作', toolbar: '#table-content-list', width: 150 }
                ]]
                , page: true
            });

            var $ = layui.$, active = {
                batchdel: function () {
                    var checkStatus = table.checkStatus('LAY-app-content-list')
                        , checkData = checkStatus.data; //得到选中的数据

                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }

                    layer.confirm('确定删除吗？', function (index) {

                        //执行 Ajax 后重载
                        /*
                        admin.req({
                          url: 'xxx'
                          //,……
                        });
                        */
                        table.reload('LAY-app-content-list');
                        layer.msg('已删除');
                    });
                },
                add: function () {
                    addNews();
                }
            };

            //监听行工具事件
            table.on('tool(LAY-app-content-list)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    addNews(data);
                }
            });

            $('.layui-btn.layuiadmin-btn-list').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });















     
    </script>
    <script>
        function addNews(edit) {
            var index = layui.layer.open({
                type: 2
                , title: '添加文章'
                , content: '/admin/articleedit'
                , area: ['100%', '100%'] //宽高
                , btn: ['确定', '取消']
                , yes: function (index, layero) {
                    //点击确认触发 iframe 内容中的按钮提交
                    var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
                    submit.click();
                },
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                   
                    if (edit) {
                        body.find(".Title").val(edit.Title);
                        body.find(".Author").val(edit.Author);
                      
                        body.find("#Content").val(edit.Content);
                        body.find("#Status").prop("checked", edit.Status == "1" ? "checked" : "");
                        body.find("#Id").val(edit.Id);
                        body.find(".newsTop input[name='newsTop']").prop("checked", edit.newsTop);
                        form.render();
                    }
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回文章列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500);
                }
            }); 
          

            layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }
    </script>
}